<h1>編集画面</h1>
<%= form_with model: @post, local: true do |form| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- 投稿内容入力フィールド -->
        <div class="mb-3">
          <%= form.label :content, "名言", class: "form-label" %>
          <%= form.text_area :content, placeholder: "ここに投稿内容を入力してください", class: "form-control", value: @post.content || "" %>
        </div>

        <!-- 作者名入力フィールド -->
        <div class="mb-3">
          <%= form.label :author, "著者", class: "form-label" %>
          <%= form.text_field :author, class: "form-control", value: @post.author || current_user.name %>
        </div>

        <!-- 投稿ボタン -->
        <div class="mb-3 text-center">
          <%= form.submit '更新', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>