<header class="shadow-sm p-3">
  <div class="container px-5">
    <div class="row align-items-center">
      <div class="col-2 d-flex justify-content-center">
        <%= link_to edit_user_path(current_user) do %>
          <%= image_tag @user.get_profile_image(110, 110), class: "rounded-circle head-icon" %>
        <% end %>
      </div>

      <div class="col-6">
        <h1 class="mb-1">MEIGEN</h1>
        <p class="text-muted small">あなたの心に残っている名言を投稿しよう</p>
      </div>

      <div class="col-4">
        <div class="row d-flex justify-content-end">
          <%= link_to "POST A QUOTE", new_post_path, class: "btn btn-secondary m-2 rounded-pill head-btn" %>
          <%= link_to "MY POST", user_path(current_user), class: "btn btn-light m-2 rounded-pill head-btn" %>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <% if @posts.present? %>
    <div class="container-fluid p-4 main-out-line">
      <div class="row">
        <div class="col-2">
          <%= link_to "POST A QUOTE", new_post_path, class: "btn btn-secondary m-3 py-4 rounded-pill head-btn" %>
          <%= link_to "POST A QUOTE", new_post_path, class: "btn btn-secondary m-3 py-4 rounded-pill head-btn" %>
          <%= link_to "REROAD Likes", posts_path(sort_by: "favorites"), class: "btn btn-secondary m-3 py-4 rounded-pill head-btn" %>
          <%= link_to "REROAD Random", posts_path(sort_by: "random"), class: "btn btn-secondary m-3 py-4 rounded-pill head-btn" %>
        </div>
        <div class="col-10 d-flex flex-wrap px-5">
          <% @posts.each do |post| %>
            <div class="post-card mb-3 text-decoration-none">
              <%= link_to post_path(post), class: "card" do %>
                <div class="container-fluid p-3">
                  <div class="row">
                    <div class="col-2">
                      <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle card-icon" %>
                    </div>
                    <div class="col-10">
                      <%= post.user.name %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="text-center"><%= post.content %></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="text-center text-muted small"><%= post.author %></p>
                      <p class="text-center text-muted small"><%= post.created_at.strftime("%Y-%m-%d") %></p>
                      <p> <%= post.favorites.count %> Likes</p>
                    </div>
                  </div>
                </div>
              <% end %>

              <!-- いいねボタン -->
              <div class="like-button text-center">
                <% if post.favorited_by?(current_user) %>
                  <%= link_to post_favorites_path(post), method: :delete, class: "like-btn" do %>
                    ♥ <%= post.favorites.count %> いいね
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(post), method: :post, class: "like-btn" do %>
                    ♡ <%= post.favorites.count %> いいね
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
</main>
